.header{
    background-color:#333333;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .error-massage{
    font-size: 14px;
    color: #D60000;
  }
  .error-valid{
    border: solid 1px #D60000;
  }
  .header__logo{
    background: linear-gradient(#00A9E7,#005B9F);
    height: 96px;
    display: flex;
    align-items: center
  }
  .main{
    background-image: url("../assets/bg-img.png");
    background-repeat: no-repeat;
    min-height: 657px;
  }
  .container-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .container-main__left{
    flex: 0 0 60%;
    max-width: 600px;
  }
  .container-main__right{
    flex: 0 0 40%;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);
  }
  .container-main__list-item{
    list-style: none;
    font-size: 14px;
    line-height: 156.69%;
  }
  .container-main__list-item::before {
    content: url("../assets/list-marker.svg");
    margin-right: 15px;
  }
  .container-main__header{
    font-family: Roboto;
    font-size: 55px;
    line-height: 156.69%;
    margin-top: 215px;
  }
  .container-main__text{
    margin-top: 110px;
    font-weight: 500;
    font-size: 16px;
    line-height: 156.69%;
  }
  .container-main__form-bg{
    background: #FFFFFF;
    padding: 0 40px;
    padding-bottom: 23px;
  }
  .container-main__form-text{
    margin-top: 40px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
  }
  .container-main__form-input{
    margin-top: 7px;
    height: 53px;
    padding: 0 10px;
    font-size: 20px;
    line-height: 21px;
  }
  .container-main__form-btn{
    margin-top: 40px;
    font-size: 25px;
    line-height: 29px;
  }
  .container-main__form-link-forgot{
    margin-top: 20px;
    font-size: 20px;
    line-height: 23px;
    color: #056DAE;
  }
  .container-main__form-foter{
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    padding: 12px 0px;
  }
  .container-main__form-link-register{
    color: #333333;
    font-size: 25px;
    line-height: 29px;
  }
  .footer{
    background: #333333;
    margin-top: 50px;
  }
  .footer__navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 3px;
    border-bottom: 1px solid #FFFFFF;
  }
  .footer__navigation-logo-img{
    width: 55px;
    height: 36px;
  }
  .footer__list{
    display: flex;
  }
  .footer__list-item{
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 156.69%;
  }
  .footer__list-item:not(:last-child){
    margin-right: 20px;
  }
  .footer__copyright{
    padding: 25px 3px;
  }
  .footer__copyright-text{
    margin: 0;
  }

  @media (max-width: 1000px){
    .container-main{
      flex-direction: column;
    }
    .container-main__header{
      font-size: 35px;
    }
  }
  @media (max-width: 600px){
    .footer__nav-bar{
      display: none;
    }
    .footer__copyright{
      display: none;
    }
    .footer__navigation{
      border-bottom: none;
    }
  }