*{
    box-sizing: border-box;
    font-family: Roboto;
    transition: all .5s ease;
}
a{
    text-decoration: none;
}
.d-block{
    display:block;
}
.d-flex{
    display: flex;
}
.fd-colum{
    flex-direction: column;
}
.fd-row{
    flex-direction: row;
}
.container{
    width: 1175px;
    margin-left: auto;
    margin-right: auto;
}

.white-text{
    color: #FFFFFF;
}
.text--center{
    text-align: center;
}
.btn{
    margin: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #0076C0;
    color:#FFFFFF;
    border: solid 1px #0076C0;
}
.btn:hover{
    cursor: pointer;
    background: #FFFFFF;
    color:#0076C0;
}

@media (max-width: 1366px){
    .container{
        max-width: 1000px;
    }
}

@media (max-width: 1000px){
    .container{
        max-width: 600px;
    }
    .todo__container-form{
        flex-direction: column;
    }
}
@media (max-width:600px) {
    .container{
        max-width: 400px;
    }
}
@media (max-width: 420px){
    *{
        font-size: 15px;
    }
    .container{
        max-width: 360px;
    }
    .todo__container-form{
        flex-direction: column;
    }
    
}